# Core LLM Framework
langchain>=1.2.0
langchain-core>=1.3.0
langchain-openai>=1.2.0
langchain-groq>=1.1.0
langchain-google-genai>=4.2.0
langchain-huggingface>=1.2.0
langchain-chroma>=1.1.0
langchain-text-splitters>=1.1.0

# Vector Database
chromadb>=1.5.0

# Embedding Model
sentence-transformers>=3.0.0

# Web UI
streamlit>=1.57.0

# Utilities
python-dotenv>=1.2.0
tiktoken>=0.12.0
pysqlite3-binary
